{% extends 'admin_index.html' %}
{% block body %}
<form action="" method="post" name="form1" id="form1">
  <div align="center" class="style1">  
    <p>Admin</p>
    <p align="center"><a href="viewregistereduser" class="style2" align="center"> view registered users</a></p>
    <p align="center"><a href="viewfeedbackandrating" class="style2" align="center">view feedback and ratings</a></p>
    <p align="center"><a href="addormodify" class="style2" align="center">add or modify police station</a></p>
  </div>
</form>
{% endblock %}